.profile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 10%;
  }
  
.profile-intro {
    flex: 1;
    padding-right: 10%;
}

.profile-image img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 2px;
}

.home-heading {
    padding: 1% 10%;
}