@font-face {
    font-family: 'D-DIN-PRO-600-SemiBold';
    src: url('/fonts/D-DIN-PRO-600-SemiBold.otf') format('truetype');
}

.project-container {
    padding: 1% 10%;
}

.project-long-image {
    width: 100%;
    /* max-width: 1000px; */
    height: auto;
    border-radius: 2px;
}

.project-title {
    text-align: center;
    font-family: 'D-DIN-PRO-600-SemiBold', sans-serif;
    font-size: 30px;
    color: #333;
}

.project-author-container {
    display: flex;
    justify-content: center;
}
.project-author {
    font-size: 1em;
    color: #333;
    margin-bottom: 1em;
    text-align: center;
    display: inline-block;
    margin: 0 10px;
}
.project-content {
    font-size: 1em;
    color: #333;
    margin-bottom: 1em;
    display: inline-block;
    margin: 0 10px;
}