{{ $longImagePath := .Params.longImage }}
<img src="{{ $longImagePath }}" alt="Long Image" class="project-long-image">
<article class="project-container">
  <h1 class="project-title">{{ .Title }}</h1>
  <div class="project-author-container">
    {{ with .Params.author }}
      {{ $len := len . }}
      {{ range $index, $author := . }}
        <p class="project-author">{{ $author }}
          {{ if ne (add $index 1) $len }},{{ end }} <!-- 在非最后一个作者后添加逗号 -->
        </p>
      {{ end }}
    {{ end }}
  </div>
  <div class="project-content">
    {{ .Content }}
  </div>
</article>